{
  "monitor_x": 630,
  "monitor_y": 985,
  "trigger_key": "mouse5",
  "cooldown": 5,
  "check_interval": 0.05,
  "trigger_method": "pynput",
  "custom_command": "xdotool key 1",
  "red_threshold": 80,
  "ratio_threshold": 1.2,
  "logic_mode": "percent",
  "enabled": false,
  "toggle_hotkey": "f10",
  "capture_method": "auto",
  "sensor_size": 5,
  "gate_enabled": true,
  "gate_x": 715,
  "gate_y": 921,
  "gate_r": 150,
  "gate_g": 143,
  "gate_b": 133,
  "gate_tolerance": 20,
  "rect_width": 30,
  "rect_height": 140,
  "health_threshold_pct": 80,
  "cv_matching_enabled": false,
  "cv_template_filename": "health_globe.png",
  "cv_match_threshold": 0.7
}
